MongoSh1Rs1:
  image: docker.iwanna.xyz:5000/mongo
  command: "mongod --replSet rs1 --storageEngine wiredTiger"

MongoSh1Rs2:
  image: docker.iwanna.xyz:5000/mongo
  command: "mongod --replSet rs1 --storageEngine wiredTiger"
	
MongoSh1Rs3:
  image: docker.iwanna.xyz:5000/mongo
  command: "mongod --replSet rs1 --storageEngine wiredTiger"
	
MongoSh2Rs1:
  image: docker.iwanna.xyz:5000/mongo
  command: "mongod --replSet rs2 --storageEngine wiredTiger"

MongoSh2Rs2:
  image: docker.iwanna.xyz:5000/mongo
  command: "mongod --replSet rs2 --storageEngine wiredTiger"
	
MongoSh2Rs3:
  image: docker.iwanna.xyz:5000/mongo
  command: "mongod --replSet rs2 --storageEngine wiredTiger"
	
MongoConfigsvr1:
  image: docker.iwanna.xyz:5000/mongo
  command: "mongod --configsvr --replSet configReplSet --port 27019 --storageEngine wiredTiger"
	
MongoConfigsvr2:
  image: docker.iwanna.xyz:5000/mongo
  command: "mongod --configsvr --replSet configReplSet --port 27019 --storageEngine wiredTiger"
	
MongoConfigsvr3:
  image: docker.iwanna.xyz:5000/mongo
  command: "mongod --configsvr --replSet configReplSet --port 27019 --storageEngine wiredTiger"
	
MongoRouter:
  image: docker.iwanna.xyz:5000/mongo
  command: "mongos --configdb configReplSet/{{MongoConfigsvr1}}:27019,{{MongoConfigsvr2}}:27019,{{MongoConfigsvr3}}:27019"
  links:
    - MongoConfigsvr3
    - MongoConfigsvr2
    - MongoConfigsvr1
